{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>


<h1>TEST NEW RECIPE</h1>
<ul>
  {% for post in object_list %}
    <h2>{{ post.title }}</h2>

    <img src="{{ post.cover.url}}" alt="{{ post.title }}">
   <h4>{{ post.title2 }}</h4>





</ul>

 {% endfor %}

<ul>
    {% for post in object_list %}
    <h2>{{ post.name }}</h2>

   <h4>{{ post.description }}</h4>
</ul>
{% endfor %}



<h1>COMMENT HERE</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit Comment</button>
</form>





{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

{% endif %}
{% endblock %}



